.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  margin: 20px;
}

.container__form {
  margin-top: 100px;
  background-color: green;
}

.App-link {
  color: #61dafb;
}